/* VARIABLES */
:root {
    /* Colors */
    --glow-color: hsl(186 100% 69%);
    --green-glow-color: hsla(114, 67%, 47%, 0.97);
    --box-shadow-white: rgba(80, 77, 77, 0.7);
    --red-glow-color: hsla(360, 100%, 42%, 0.97);
    --black-text-color: rgba(0, 0, 0, .3);
    --label-color: rgba(255, 255, 255, .6);
    --orange: rgba(255, 165, 0, .9);

}




.edit_main {
    display: grid;
    justify-content: center;
    border: 1px solid var(--orange);
    border-radius: 5px;
    box-shadow: 0 0 29px rgba(0, 0, 0, .7);
    width: 160vh;
    height: 180vh;
    margin: 100px auto;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% auto 15%;
    background-color: rgba(0, 0, 0, .7);
}


.header_box {
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    display: flex;
}

.header_text_box h2 {
    color: var(--glow-color);
    font-weight: bold;
    position: relative;
    letter-spacing: .2rem;
    text-shadow: 0 0 5px var(--glow-color);
    animation: anime 4s infinite;
    border: 3px solid var(--glow-color);
    padding: 5px 15px;
    font-size: 2rem;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 .5em 0 var(--glow-color),
    0 0 0.5em 0 var(--glow-color);
    -moz-box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 .5em 0 var(--glow-color);
    box-shadow: inset 0 0 0.5em 0 var(--glow-color),
    0 0 .5em 0 var(--glow-color);
}

.footer_edit {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.save_changes_button {
    color: var(--green-glow-color);
    font-weight: bold;
    position: relative;
    letter-spacing: .2rem;
    text-shadow: 0 0 5px var(--green-glow-color);
    animation: anime 4s infinite;
    border: 3px solid var(--green-glow-color);
    padding: 5px 15px;
    font-size: 1rem;
    transition: all .5s ease-in-out;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 .5em 0 var(--green-glow-color),
    0 0 0.5em 0 var(--green-glow-color);
    -moz-box-shadow: inset 0 0 0.5em 0 var(--green-glow-color),
    0 0 .5em 0 var(--green-glow-color);
    box-shadow: inset 0 0 0.5em 0 var(--green-glow-color),
    0 0 .5em 0 var(--green-glow-color);
    background-color: transparent;
    overflow: hidden;
}

.save_changes_button:hover a {
    transform: translateX(-150%);

}
.save_changes_button a {
    transition: all .5s ease-in-out;
    transform: translateX(10%);
}

.save_changes_button:hover svg{
    transform: translateX(-230%);
    fill: var(--green-glow-color);

}

.save_changes_button svg {
    transition: all .5s ease-in-out;
    transform: translateX(700%);
    filter: drop-shadow(0 0 .5em 0 var(--green-glow-color));    /* Text-shadow for svg and path elements */
}
.bi-check {
    text-shadow: 0 0 .5em 0 var(--green-glow-color);
    filter: drop-shadow(0 0 .5em 0 var(--green-glow-color));
    box-shadow: 0 0 10px var(--green-glow-color);
    border: 2px solid var(--green-glow-color);
    border-radius: 50%;

}
@keyframes anime {
    0% {
        opacity: 1
    }
    3% {
        opacity: 0
    }
    6% {
        opacity: 1
    }
    9% {
        opacity: 0
    }
    12% {
        opacity: 1
    }
    30% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    70% {
        opacity: 1
    }
    80% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 1;
    }
}



.header_text_box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 7rem;
}











.main_container {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 15% auto 15% 15% 20%;
    grid-template-columns: 100%;
    justify-content: center;
}

.header_form_content {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

input {
    width: 60%;
    background: transparent;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: unset;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, .7);
    border-radius: 5px;
}

input:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, .8);
}

label {
    margin-right: 10px;
    font-weight:bold;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

label::after {
    content: ":";
}

.image_edit_div {
    grid-row: 2;
    grid-column: 1;
    flex-direction: column;
    display: grid;
    grid-template-rows: auto 30%;
    justify-content: center;
    align-items: center;

}
.current_img_div {
    grid-row: 1;

}
.image_container {
    height: 60vh;
    width: 80vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
}

.select_new_img_div {
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.select_new_img_div a {
    color: var(--black-text-color);
    position: relative;
    text-decoration: none;

}
.select_new_img_div a:hover {
    color: var(--orange);
    position: relative;
    text-decoration: none;
}

.select_new_img_div a::before {
    content:"choosed:   ";
    text-decoration: none;
    color: var(--label-color);
}

.select_new_img_div a::before:hover {
    color: var(--label-color);
    text-decoration: none;
}
.select_new_img_div input, p{
    display: none;
}

.current_img {
    cursor: pointer;
    height: 100%;
    position: absolute;
    object-fit: cover;
    transition: all .3s;
}
.current_img:hover {
    opacity: .7;
}


#default_image {
    opacity: .3;
    position: absolute;
}

.bi-card-image {
    opacity: .5;
    position: absolute;
    color: black;
    cursor: pointer;
    transition: all .3s;
}
.bi-card-image:hover {
    opacity: .7;
}
.bi-card-image:hover .current_img {
    opacity: .7;
}

.customer_detail_main >* {
    display:flex;
    justify-content: center;
    align-items: center;

}
h4 {
    color: var(--label-color);
}

/* Profile Box */
.profile_box {
    grid-row: 1;
    grid-column: 1;
}

.profile_image {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
    width: 60px;
    height: 60px;
    transition: all 0.2s;
}
.profile_image:hover {
    opacity: .7
}



/* PRICE CONTAINER */
.price_container_edit {
    grid-row: 3;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    align-items:center;
    justify-content: flex-start;
}

.price_container_edit input {
    margin-right: 150px;
}

.price_container_edit input::after {
    content: "€";
    color: var(--box-shadow-white);
}
.price_box {
    grid-column: 1;
}
.category_box {
    grid-column: 2;
}
.tag_field_container {
    grid-row: 4;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}

.tag_field_container input{
    width: 80%;
}

