{% extends 'home/base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'create/create.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/home_css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user-list-img-view/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'detail/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}">

{% endblock %}

{% block authForm %}
<form method="post">
    <main class="auth_main">

    </main>
</form>











{% endblock %}
