{% extends 'home/base.html' %} {% comment gibt an da wir den Code block aus home/base benutzen - so ähnlich wie vererbung von files %}{% endcomment %}
{% load static %}


{% block title %} Home - Create Your own Recipe {% endblock %}

{% block styles %}




{% endblock %}



{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'create/create.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/home_css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user-list-img-view/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'detail/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'categories/style.css' %}">
{% endblock %}



{% block authForm %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
    {% if image|length > 0 %}

    <main class="list_view_main">
        {% for product in image %}

            <button class="category_image_container" id="single_category_image" name="single_category_image"
                    type="submit" value="{{ product.slug }}">

                <img class="pic"
                     title="{{ product.title }}"
                     src="{{ product.picture.url }}"
                     alt="{{ product.title }}">

                <span class="category_name_text"
                     title="{{ product.title }}">
                    <span style="transition-delay: .4s;">
                        {{ product.title }}
                    </span>
                </span>

            </button>

        {% endfor %}
        </main>
    {% else %}
        <main class="nothing_here_yet_container">
            <p class="nothing_here_text">
                Nothing here yet!
                <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
            </p>
        </main>

    {% endif %}





</form>




{% endblock %}