{% extends 'home/base.html' %} {% comment gibt an da wir den Code block aus home/base benutzen - so ähnlich wie vererbung von files %}{% endcomment %}
{% load static %}


{% block title %} Home - Create Your own Recipe {% endblock %}

{% block styles %}




{% endblock %}



{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'create/create.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/home_css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'user-list-img-view/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'detail/detail.css' %}">
{% endblock %}
{% block authForm %}


    <main class="template_main_class">
        <div class="list_grid_auto_rows">
            <form method="get">
                <div class="recipe_detail_heading">
                    <h2>{{ object.title }}</h2>
                </div>
                <div class="recipe_detail_image_view">
                    <img class="recipe_img_detail_list_view" style="image-rendering: pixelated;" src="{{ object.picture.url }}" alt="{{ object.title}}">
                </div>
                <div class="ingredients">
                    <section>
                        {{ object.tag_field }}
                    </section>
                    <p>
                        {{ object.price }}
                    </p>
                </div>
                <div class="recipe_detail_view">
                {{ object.author }} <br>
                {{ object.ingredients }}<br>
                </div>


            </form>

            {% csrf_token %}
            <button type="button" class="btn_two btn_two-primary" style="position: absolute; width: 30px; right: -20px; top: 1.5em;" data-toggle="modal" data-target="#exampleModalCenter"> <!-- data toggle sagt welche art element geöffnet werden soll. data target, welches element(anhand der id) -->
                <img class="trashcan-img" src="{% static 'home/trash-can.png'%}" alt="trash">
            </button>
            <button type="button" id="edit_button" onclick="window.location.href='{% url 'home:edit-image' object.pk object.slug %}';">
                Edit
            </button>
        </div>
    </main>




    <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to delete {{ object.title }}?</h5>
      </div>
      <div class="modal-body">
        You can edit your Recipe &nbsp; <a href='{% url 'home:edit-image' object.pk object.slug %}'>here</a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button> <!-- data-dismiss gibt an, dass das modal geschlossen werden soll -->
        </div>
    </div>
  </div>
</div>


{% endblock %}


{% comment %} edit recipe, del, link von rezept verändern    {% endcomment %}