

{% extends 'home/base.html' %} {% comment gibt an da wir den Code block aus home/base benutzen - so ähnlich wie vererbung von files %}{% endcomment %}

{% load static %}

{% block title %} Login {% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'register/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Login/style.css' %}">
{% endblock %}

{% block styles %}

{% endblock %}


{% block authForm %}  {% comment Wir nehemen uns hier zunächst die block und endblock klammern aus home und cpen Sie hier rein %}{% endcomment %}


<form method="POST" action=""> {% comment hier legen wir den body für dieses html file fest. %} {%  endcomment %}
{% csrf_token %}

 <main class="auth_main">
        <header class="auth_header">
            <h1>
                Welcome Back!

            </h1>

        </header>

        <section class="auth_body">
            <div class="body_row1">
                {{ form.username }}
            </div>
            <div class="body_row2">
                {{ form.password }}
            </div>

            <div class="body_row4">
                <button class='auth_button' type="submit" id="login_button" name="login_button" title="Register">
                    Login
                </button>
            </div>
             {% comment mit .as_p geben wir den wert als <p> aus %} {%  endcomment %}



        </section>

        <footer class="auth_footer">

            <p class="login_text">
                Dont have an account yet? <br><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Register here!
             </p>

            <button class="login_button"  onclick="window.location.href='{% url 'home:register' %}';">
                Register
            </button>

        </footer>

    </main>

{% endblock %}
</form>
