


.category_image_container {
    display: inline-block;
    margin: 50px 10px 0 10px;
    background-color: transparent;
    overflow: hidden;
    transition: all .2s;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: auto;
    break-inside: avoid;
    min-width: 100px;
    z-index: 100;
}

.category_image_container:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, .7);
}

.category_name_text {
    display: flex;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    width: 100%;
    height: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .8);
    top: 44%;
    filter: blur(5px); /* je höher der 'blur'- Wert ist, desto verschwommener wird ein element. */
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s, box-shadow 0.2s;
}

